@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@800&display=swap');

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';




.logo_font{
    font-family: 'Fira Sans Condensed', sans-serif;
}

.hero-title{
    font-size: 2.7rem;
    font-weight: 400;
}
.hero-title span{
    font-weight: 900;
}
